{% extends "base/main.php.twig" %}

{% block main_content %}

    <body class="hold-transition login-page">
        <div class="login-box">

          <div class="login-logo">
            <a href="{{ base_url() }}"><b>Supervisión</b>2015</a>
          </div><!-- /.login-logo -->
          <div class="login-box-body">

            <form action="{{ base_url('login') }}" method="post">
              <div class="form-group has-feedback">
                <input type="text" class="form-control" name="username" value="{{ login.username }}" placeholder="Username">
                <span class="glyphicon glyphicon-user form-control-feedback"></span>
              </div>
              <div class="form-group has-feedback">
                <input type="password" class="form-control" name="password" value="{{ login.password }}" placeholder="Password">
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
              </div>
              <div class="row">
                <div class="col-xs-8">
                  <div class="checkbox icheck">
                    <label class="">
                      <input type="checkbox" name="remember_me" {{ login.remember_me ? 'checked' : '' }}> Recordarme
                    </label>
                  </div>
                </div><!-- /.col -->
                <div class="col-xs-4">
                  <button type="submit" class="btn btn-primary btn-block btn-flat">Ingresar</button>
                </div><!-- /.col -->
              </div>
            </form>

            <!-- <a href="#">I forgot my password</a><br>
            <a href="register.html" class="text-center">Register a new membership</a> -->

          </div><!-- /.login-box-body -->
        </div>
        <script>
        $(document).ready(function () {

            $('input[type="checkbox"]').iCheck({
              checkboxClass: 'icheckbox_square-blue',
              radioClass: 'iradio_square-blue',
              increaseArea: '20%' // optional
            });
        });
        </script>
    </body>

{% endblock %}
