{% block breadcrumb %}
    <section class="content-header">
        <h1>{{ title | upper }}</h1>
        <ol class="breadcrumb">
        <li><a href="{{ base_url() }}"><i class="fa fa-dashboard"></i> DASHBOARD</a></li>
        <li><a href="{{ base_url('locales') }}"><i class="fa fa-dashboard"></i> LOCALES</a></li>
        <li><a href="{{ base_url('locales/reportes') }}"><i class="fa fa-dashboard"></i> REPORTES</a></li>
        </ol>
    </section>
{% endblock breadcrumb %}
