{% extends "base/main.php.twig" %}

{% block main_content %}

    <body class="skin-red layout-top-nav">
        <div class="wrapper">
            <div class="content-wrapper" style="min-height: 624px;">
                <!-- Main content -->
                <section class="content">
                    {% include content ~ ".php.twig" %}
                </section><!-- /.content -->
            </div>
        </div>
    </body>

{% endblock %}
