{% block base_footer %}

    <footer class="main-footer">
        <!-- To the right -->
        <div class="pull-right hidden-xs">
        Anything you want
        </div>
        <!-- Default to the left -->
        <strong>Copyright © 2015 <a href="#">Company</a>.</strong> All rights reserved.
    </footer>

{% endblock %}
