<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{{ title ? title ~ ' |' }} INEI</title>
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <!-- Loading Stylesheets -->
    <link rel="stylesheet" href="{{ assets('packages/AdminLTE/bootstrap/css/bootstrap.min.css') }}"  />
    <link rel="stylesheet" href="{{ assets('css/fontawesome.min.css') }}"  />
    <link rel="stylesheet" href="{{ assets('css/ionicons.min.css') }}"  />
    <link rel="stylesheet" href="{{ assets('packages/AdminLTE/dist/css/AdminLTE.min.css') }}"  />
    <link rel="stylesheet" href="{{ assets('packages/AdminLTE/dist/css/skins/_all-skins.min.css') }}"  />
    {% for item in styles %}
        <link rel="stylesheet" href="{{ assets(item) }}" charset="utf-8">
    {% endfor %}
    <link rel="stylesheet" href="{{ assets('css/app.css') }}"  />
    <!-- Setting Configs -->
    <script type="text/javascript">
      var CI = {
         'base_url' : '{{ base_url() }}',
         'site_url' : '{{ site_url() }}'
      };
    </script>
    <script src="{{ assets('packages/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
</head>
<!--  -->
    {% block main_content %}{% endblock %}
<!--  -->
    <!-- LOADING SCRIPTS -->
    <script src="{{ assets('packages/AdminLTE/bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ assets('packages/AdminLTE/dist/js/app.min.js') }}"></script>
    {% for item in scripts %}
        <script src="{{ assets(item) }}"></script>
    {% endfor %}
    <script src="{{ assets('js/app.js') }}"></script>
</html>
