{% block main_sidebar %}
<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
               <img src="{{ assets('//iinei.inei.gob.pe/iinei/asistencia/fotos/45712100.jpg') }}" class="img-circle " onerror="this.src='{{ assets('packages/AdminLTE/dist/img/avatar5.png') }}'" alt="" />
            </div>
            <div class="pull-left info">
                {% set user = 'Carlos Levano' %}
                <p>{{ user }}</p>
                <a href="javascript:;"><i class="fa fa-circle text-success"></i> Conectado</a>
            </div>
        </div>
        <ul id="main-nav" class="sidebar-menu">
            <li class=" treeview">
               <a href="{{ base_url() }}"><i class="fa fa-dashboard"></i> <span>DASHBOARD</span></a>
            </li>
            <li class="treeview">
               <a href="{{ base_url('locales') }}"><i class="fa fa-university"></i><span>LOCALES</span><i class="fa fa-angle-left pull-right"></i></a>
               <ul class="treeview-menu">
                    <li><a href="{{ base_url('locales/jurisdiccion-regional') }}">Jurisdicción Regional</a></li>
                    <li><a href="{{ base_url('locales/jurisdiccion-provincial-distrital') }}">Jurisdicción Provincial/Distrital</a></li>
                    <li>
                        <a href="{{ base_url('locales/reportes') }}">Reportes<i class="fa fa-angle-left pull-right"></i></a>
                        <ul class="treeview-menu">
                            <li><a href="{{ base_url('locales/reportes/directorio') }}">Directorio</a></li>
                            <li><a href="{{ base_url('locales/reportes/mapa-regional') }}">Indicador Regional</a></li>
                            <li><a href="{{ base_url('locales/reportes/mapa-provincial-distrital') }}">Indicador Provincial/Distrital</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </section>
</aside>
{% endblock main_sidebar %}
