{% extends "base/main.php.twig" %}

{% block main_content %}

    <body class="hold-transition skin-red sidebar-mini">
        <div class="wrapper">
            {% include "base/navbar.php.twig" %}

            {% include "base/sidebar.php.twig" %}

            <div class="content-wrapper" style="min-height: 624px;">
                <!-- Content Header (Page header) -->
                {% include "base/breadcrumb.php.twig" %}
                <!-- Main content -->
                <section class="content">
                    {% include content ~ ".php.twig" %}
                </section><!-- /.content -->
            </div>

            {% include "base/footer.php.twig" %}
        </div>
    </body>

{% endblock %}
